extends layout

block content
  p UserName: #{person.username}
  p Password: #{person.password}
  p Age: #{person.age}
  p Email: #{person.email}
  p Animal: #{person.animal}
  p Favorite Color: #{person.color}
  p Aliens are real: #{person.aliens}
  br
  #menu
    a(href='/') Go back