extends layout

block content
  p UserName: #{person.username}
  p password: #{person.password}
  p Age: #{person.age}
  p email: #{person.email}
  p Animal: #{person.animal}
  br
  #menu
    a(href='/') Go back