extends layout

block content
  form(id='form', method='post', action='/edit/' + person.id)
    label(for='username') Username: 
    input(type='text', name='username' value=person.username)
    br
    label(for='password') Password: 
    input(type='text', name='password' value=person.password)
    br
    label(for='age') Age: 
    input(type='text', name='age' value=person.age)
    br
    label(for='email') Email:
    input(type='text', name='email' value=person.email)
    br
    label(for='animal') Animals:
    select(name='animal')
      option(selected = person.animal) #{person.animal}
      option(value="Dog") Dog
      option(value="Cat") Cat
      option(value="Other") Other
      option(value="None") None
    br
    input(type='submit', value='Update Person')
